*.txt
.env
*.pdf
*.zip
*.mp3
*.docx
*.ppt
*.pptx
node_modules
/Módulo_2/AE2/
/Módulo_2/AE3/AE3_ABPRO-Ejercicio grupal
/Módulo_2/AE4/
/Módulo_2/AE5/AE5_Ejercicio_individual
/Módulo_2/AE6/AE6_ABP-Ejercicio individual
/Módulo_2/AE7/
/Módulo_2/Evaluación Módulo/URL github-evaluación módulo-M2.txt
/Módulo_3/
/Módulo_4/ejercicios/ejerciciosAE2.js
/Módulo_4/AE1/M4_AE1_ABP-Ejercicio individual/AE1_ejercicio individual-url github.txt
/Módulo_4/AE3/Ejercicio-individual/url github.txt
/Módulo_4/AE5/Ejercicio-complementario/index.html
/Módulo_4/AE5/Ejercicio-grupal/ae5_abpro grupo 4.txt
/Módulo_6/AE1/M6-AE1-ejercicio grupal-grupo 4.pdf
/Módulo_5/M5-AE5-INDIVIDUAL.zip
/Módulo_5/EVALUACION_MODULO/url github-M5 evaluación módulo.txt
/Módulo_6/AE3/M6-AE3-ABP-GRUPO SALA 4.zip
/Módulo_2/AE3_ABPRO-Ejercicio grupal.zip
Módulo_6/AE6/AE6-ABPRO-SALA 4.zip
