* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: brown;
  background-image: url(../Im치genes/grunge-paper-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  min-height: 100dvh;
  font-size: 16px;
}

header {
  min-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10em;
  width: 50dvw;
  margin-top: 1em;
  margin-inline: auto;
  background-image: url(../Im치genes/fondo-pergamino-header.png);
  background-position: center;
  background-size: 20em auto;
  background-repeat: no-repeat;
  font-family: "Caesar Dressing", system-ui;
}

header h1 {
  font-size: 29px;
  color: #3e2f1c;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

main {
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-inline: auto;
  gap: 3em;
  font-family: "Cormorant Garamond";
  font-size: large;
  font-weight: bold;
  max-width: 1024px;
}

.RPG-class {
  text-align: center;
  color: #1a1a1a;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.RPG-class img {
  height: 12em;
  border: 0.5em solid transparent;
  border-image-source: url(../Im치genes/frame-clases.png);
  border-image-repeat: round;
  border-image-slice: 30%;
  border-image-width: 2.5em;
  cursor: pointer;
}

.superNovice {
  background-color: white;
}

/* Estilos Modal */

#miModal {
  display: none; /* oculto por defecto */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.85);
}

#contenidoModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 90dvw;
}

#nombreEnModal {
  color: #3e2f1c;
  font-family: "Caesar Dressing", system-ui;
  text-shadow: 1px 1px 2px rgba(80, 40, 0, 0.5);
  font-size: 2em;
  padding: 0.5em 0.8em;
  text-align: center;
  background-image: url(../Im치genes/fondo-pergamino-header.png);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: center;
}

#contenedorImgModal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#imgModal {
  background-color: white;
  border-radius: 10px;
  width: 200px;
  height: auto;
}

.botonNavegacion {
  color: antiquewhite;
  font-size: 2em;
  font-family: "Cormorant Garamond", serif;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: none;
  padding: 0 0.5em;
  cursor: pointer;
}

#botonCierreModal {
  margin-left: 8em;
  background-color: transparent;
  font-size: 3em;
}
