<main>
  <h3 style="text-align: center;">Has eliminado al contacto:
    {{nombre}}, ID:
    {{id}}
    de tu lista de contactos</h3>
  <a href="http://localhost:3000/contactos" id="enlaceContactos">Volver a tu
    agenda de contactos</a>
</main>